<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>Home</h1>
<p>
    lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium adipisci alias aliquid amet
    architecto asperiores aspernatur atque autem beatae commodi consequatur cumque cupiditate delectus deleniti
    doloremque doloribus ducimus ea eius eligendi error esse est et eum eveniet excepturi exercitationem expedita
    explicabo facere fugiat fugit harum hic id illum impedit in incidunt ipsa ipsum iste itaque iure labore laboriosam
</p>

<ol>
    <li>Web Development</li>
    <li>Web Development</li>
    <li>Web Development</li>
    <li>Web Development</li>
    <li>Web Development</li>
</ol>

</body>
</html>